<h1>Create a New Historical Figure</h1>

<form method="POST" action="/figure">
  <label>Name</label>
  <input name="figure[name]" type="text" id="figure_name">

  <label>Titles</label>
  <% Title.all.each do |title| %>
    <input name="figure[title_ids][]" type="checkbox" value="title.id" id="title.id">
  <%end%>
  <label>Create New Title:</label>
    <input type="text" name="title[name]">
</form>
