<h1>Create a New Historical Figure</h1>

<form method="POST" action="/figure">
  <label>Name</label>
  <input name="figure[name]" type="text" id="figure_name">

  <label>Landmark</label>
  <% Landmarks.all.each do |landmark| %>
    <input name="figure[landmark_id]" type="checkbox" id="figure_name">
  <%end%>
</form>
